<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/2b7c7d89a3.js"></script>
         <title>Superhero Sightings</title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: lightblue;">
                <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/locations">Locations</a>
                        <a class="nav-item nav-link active" href="/organizations">Organizations</a>
                        <a class="nav-item nav-link" href="/superheros">Super Heroes</a>
                        <a class="nav-item nav-link" href="/sightings">Sightings</a>
                        <a class="nav-item nav-link" href="/superpowers">Super Powers</a>
                    </div>
                </div>

        </nav>
    </header>
        <!-- Main Body of Page -->
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="col-lg-12">
            <div>
                <form action="editOrganization" method="POST">
                    <div th:if="${message}" align="center" style="color : red;">
                        <p th:text="${message}" />
                     </div>
                
                    <div align="center">
                        <h2>Edit Organization</h2>
                     </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" th:value="${organization.name}" id="name" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control"  th:text="${organization.description}"name="description" id="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Full Address:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" th:text="${organization.address}" name="address" id="address" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact" class="col-sm-2 col-form-label">Contact:</label>
                        <div class="col-sm-6">
                            <input type="text" name="contact" class="form-control"  th:value="${organization.contact}"id="contact" placeholder="">
                        </div>
                    </div>
                    <input type="hidden" name="id" th:value="${organization.id}"/>
                    <div class="form-group row text-center">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info">Update Organization</button>
                        </div>
                    </div>
                </form>
                
                <div>
                    
                    <img class="bg-image" src="css/heroes_bright.jpeg" alt="Background image" width="100%" height="30%">
                    
                </div>
                
                
                    <!-- End main body -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
